<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">To main</button>
    </div>

    <div class="info">
        <strong>Author</strong>
        <small>01.11.19</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, voluptates.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, voluptates.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, voluptates.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, voluptates.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, voluptates.</p>
    </div>
</div>
