<form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Create new post</h1>

    <div
        [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
        class="form-control">
        <label for="title">Post title</label>
        <input id="title" type="text" formControlName="title">
        <div
            *ngIf="form.get('title').touched && form.get('title').invalid"
            class="validation">
            <small *ngIf="form.get('title').errors.required">field must be filled</small>
        </div>
    </div>

    <div class="form-control">
        <label>Post content...</label>
    </div>

    <div
        [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}"
        class="form-control">
        <label for="author">Post author</label>
        <input id="author" type="text" formControlName="author">
        <div
            *ngIf="form.get('author').touched && form.get('author').invalid"
            class="validation">
            <small *ngIf="form.get('author').errors.required">field must be filled</small>
        </div>
    </div>

    <button
        type="submit"
        class="btn btn-dark"
        [disabled]="form.invalid">Create</button>
</form>
